<div id="extractor-area">
    <div class="form-group">
        <label class="col-sm-1 control-label">变量</label>
        <div class="col-sm-11">
            <div class="col-sm-3" style="padding-left:0px;">
	            <select class="form-control" id="rule-extractor-type">
	                <option value="1">索引式提取</option>
	                <option value="2">模板式提取</option>
	            </select>
	        </div>
	        <div class="col-sm-1" style="line-height: 30px;">
            	<a id="add-extraction-btn" class="btn btn-success" style="padding:0 5px;"><i class="fa fa-plus"></i></a>
            </div>
        </div>
    </div><!-- 描述 -->
</div>
<!-- extractor -->
