<!DOCTYPE html>
<html>
<head>
    <title>Orange Gateway - 错误</title>
    {(common/meta.html)}
</head>
<body>


<div id="main" class="main-container container">
    <div class="row" style="margin-top:30px;">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">错误</div>
                <div class="panel-body">
                   <div class="panel-body">
                        {{errMsg}}
                    </div>
                    <div class="panel-body">
                        <a href="/">返回首页</a>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>


</body>
</html>
