<!DOCTYPE html>
<html>
<head>
    {(common/meta.html)}
</head>

<body class="fixed-sidebar full-height-layout gray-bg">
    <div id="wrapper">
        {(common/left_nav.html)}<!-- 左侧导航 -->

        <!--右侧部分开始-->
        <div id="page-wrapper" class="gray-bg dashbard-1">
            <div class="row" id="stat-view" style="display: none;">
                <div class="col-md-12">
                    <div style="height:400px;padding-top:20px;" id="stat-area"></div>

                </div>
            </div>
            
            <div class="row J_mainContent">
                            

                <!-- content start -->
                <div class="row content-header">
                    <div class="col-md-12">
                        <div class="pull-left">
                            <h4 class="head_title">WAF 防火墙</h4>
                        </div>
                        <div class="pull-right">
                            <a id="stat-btn" data-show="true" class="btn btn-success" rel="nofollow" href="javascript:void(0);">
                                <i class="fa fa-bar-chart"></i>
                                <span>统计</span>
                            </a>
                             {(common/plugin-op.html)}
                        </div>
                    </div>
                </div>

                {(common/data-view-part.html)}
                {(common/right-selector-rule-part.html)}
                <!-- content end -->

            </div>
        </div><!--右侧部分结束-->
    </div>


    <script id="rule-item-tpl" type="text/template">
        {@each rules as r, index}
        <li data-id="${r.id}" {@if r.enable==true } class="info-element"{@/if}
            {@if r.enable!=true } class="warning-element"{@/if}>
            <table class="table table-hover single-rule-table">
                <tbody>
                    <tr>
                        <td class="center rule-enable-td">
                            {@if r.enable==true }
                                <span class="label label-primary">已启用</span>
                            {@/if}
                            {@if r.enable!=true }
                                <span class="label label-warning">已禁用</span>
                            {@/if}
                        </td>
                        <td class="rule-name-td">
                            <b class="namep">${r.name}</b>
                        </td>
                        <td class="left rule-condition-td">
                            <p>
                                <b>类型</b>:
                                {@if r.judge.type==0 }
                                    单一条件匹配
                                {@/if}
                                {@if r.judge.type==1 }
                                    and匹配
                                {@/if}
                                {@if r.judge.type==2 }
                                    or匹配
                                {@/if}
                                {@if r.judge.type==3 }
                                    复杂匹配
                                {@/if}


                                {@if r.judge.type==3 }
                                    <br/><b>表达式</b>: ${r.judge.expression}
                                {@/if}
                            </p>
                            {@each r.judge.conditions as c, index}
                                <p class="conditionp">${c.type}: ${c.name} ${c.operator} ${c.value}</p>
                            {@/each}
                        </td>

                        <td class="left rule-urltmpl-td">
                            <b>执行</b>: ${r.handle.perform}
                            <br/>
                            {@if r.handle.perform=="deny" }
                                错误代码: ${r.handle.code}<br/>
                            {@/if}
                            <b>统计</b>: ${r.handle.stat}
                            <br/>
                            <b>记录日志</b>: ${r.handle.log}
                        </td>

                        <td class="left" title="变更时间">
                            <small>${r.time}</small>
                        </td>
                        <td class="center rule-op-td">
                            <a class="btn btn-white btn-sm edit-btn" data-id="${r.id}" data-name="${r.name}"><i title="编辑" class="fa fa-pencil"></i> </a>
                            <a class="btn btn-white btn-sm delete-btn" data-id="${r.id}" data-name="${r.name}"><i title="删除" class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </li>
        {@/each}
    </script>

    <script id="add-tpl" type="application/template">
        <div id="rule-edit-area">
            <form id="add-rule-form" class="form-horizontal">
                <div class="form-group">
                    <label for="input-name" class="col-sm-1 control-label">名称</label>
                    <div class="col-sm-11">
                        <input type="text" class="form-control" id="rule-name" placeholder="名称">
                    </div>
                </div><!-- name -->

                <!-- add - 条件编辑器模板 start -->
                {(common/condition-add.html)}
                <!-- add - 条件编辑器模板 end -->

                <div class="form-group handle-holder">
                    <label class="col-sm-1 control-label">处理</label>
                    <div class="col-sm-3">
                        <select class="form-control" id="rule-handle-perform">
                            <option value="deny">deny</option>
                            <option value="allow">allow</option>
                        </select>
                    </div>

                    <div class="col-sm-2 handle-code-hodler">
                        <input type="text" class="form-control" id="rule-handle-code" value="403" placeholder="error code">
                    </div>
                    <div class="col-sm-2">
                        <select class="form-control" id="rule-handle-log">
                            <option value="true">记录日志</option>
                            <option value="false">不记录日志</option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <select class="form-control" id="rule-handle-stat">
                            <option value="true">统计</option>
                            <option value="false">不统计</option>
                        </select>
                    </div>
                </div>



                <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-11">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="rule-enable"> 启用
                            </label>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </script>

    <script id="edit-tpl" type="application/template">
        <div id="rule-edit-area">
            <form id="edit-rule-form" class="form-horizontal">
                <div class="form-group">
                    <label for="input-name" class="col-sm-1 control-label">名称</label>
                    <div class="col-sm-11">
                        <input type="text" class="form-control" id="rule-name" value="${r.name}" placeholder="名称">
                    </div>
                </div><!-- name -->

                <!-- edit - 条件编辑器模板 start -->
                {(common/condition-edit.html)}
                <!-- edit - 条件编辑器模板 end -->

                <div class="form-group handle-holder">
                    <label class="col-sm-1 control-label">处理</label>
                    <div class="col-sm-3">
                        <select class="form-control" id="rule-handle-perform">
                            <option value="deny" {@if r.handle.perform=="deny"} selected {@/if}>deny</option>
                            <option value="allow" {@if r.handle.perform=="allow"} selected {@/if}>allow</option>
                        </select>
                    </div>

                    <div class="col-sm-2 handle-code-hodler" {@if r.handle.perform=="allow"} style="display:none;" {@/if} >
                        <input type="text" class="form-control" id="rule-handle-code" placeholder="error code" value="${r.handle.code}">
                    </div>

                    <div class="col-sm-2">
                        <select class="form-control" id="rule-handle-log">
                            <option value="true" {@if r.handle.log==true} selected {@/if}>Log</option>
                            <option value="false" {@if r.handle.log==false} selected {@/if}>Not Log</option>
                        </select>
                    </div>

                    <div class="col-sm-2">
                        <select class="form-control" id="rule-handle-stat">
                            <option value="true" {@if r.handle.stat==true} selected {@/if}>Stat</option>
                            <option value="false" {@if r.handle.stat==false} selected {@/if}>Not Stat</option>
                        </select>
                    </div>
                </div><!-- handle log-->

                <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-11">
                        <div class="checkbox">
                            <label>
                                <input {@if r.enable==true} checked {@/if} type="checkbox" id="rule-enable"> 启用
                            </label>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </script>


    {(common/selector-item-tpl.html)}
    {(common/selector-add.html)}
    {(common/selector-edit.html)}

    {(common/common_js.html)}<!-- 通用js -->
    <script src="/static/js/echarts3/echarts.common.min.js"></script>
    <script src="/static/js/waf.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            APP.Common.resetNav("nav-waf");
            APP.WAF.init();
            $(".sortable-list").sortable().disableSelection();
        });
    </script>
</body>
</html>
