client_body_temp
fastcgi_temp
logs
proxy_temp
tmp
uwsgi_temp
*.pid
.idea
start.log
orange.conf.back
data.back.json
conf/nginx-divide.conf
start-divide.sh
*.dev.*

# Compiled Lua sources
luac.out

# luarocks build files
*.src.rock
*.zip
*.tar.gz

# Object files
*.o
*.os
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

*.swp
*.swo


# Orange exclude
bin/orange
.DS_Store
new_plugin.sh
test_conf
test_start.sh
fix_name.sh
