<div id="credential-area">
    <div class="form-group">
        <label class="col-sm-1 control-label">验签信息</label>
        <div class="col-sm-11">
            <div class="col-sm-3" style="width: 120px; padding-left: 0px; line-height: 38px;">
                <span>签名字段、密钥</span>
            </div>
        </div>
    </div><!-- 描述 -->

    <div class="form-group pair credential-holder">
        <label class="col-sm-1 control-label"></label>

        <div class="col-sm-3">
            <input type="text" class="form-control" name="rule-handle-credential-signame" placeholder="sig name" value="${r.handle.credentials.signame}">
        </div>
        <div class="col-sm-3" style="padding-left:0">
            <input type="text" class="form-control" name="rule-handle-credential-secretkey" placeholder="secret key" value="${r.handle.credentials.secretkey}">
        </div>
    </div>


</div>
<!-- credential -->
