<script type="text/template" id="single-credential-tmpl">
    <div class="form-group pair credential-holder">
        <label class="col-sm-1 control-label"></label>
        <div class="col-sm-3">
            <input type="text" class="form-control" name="rule-handle-credential-username" placeholder="username">
        </div>
        <div class="col-sm-3" style="padding-left:0">
            <input type="text" class="form-control" name="rule-handle-credential-password" placeholder="password">
        </div>
        <div class="col-sm-1" style="margin-top:5px">
            <span class="input-group-btn">
                <a class="btn btn-remove" style="padding:0 5px;">
                    <i class="fa fa-remove"></i>
                </a>
                <a class="btn btn-add" style="padding:0 5px;">
                    <i class="fa fa-plus"></i>
                </a>
            </span>
        </div>
    </div>
</script>
<!--single credential tmpl-->
