<!-- 私钥 -->
<div id="secret-area">
    <div class="form-group secret-holder">
        <label class="col-sm-1 control-label">秘钥</label>
        <div class="col-sm-11">
            <input type="text" class="form-control" name="rule-handle-secret" id="rule-handle-secret" placeholder="秘钥" value="${r.handle.credentials.secret}">
        </div>
    </div>
</div>

<!-- 算法 -->
<div id="algorithm-area">
    <div class="form-group algorithm-holder">
        <label class="col-sm-1 control-label">算法</label>
        <div class="col-sm-11">
            <select class="form-control" name="rule-handle-algorithm" id="rule-handle-algorithm">
                <option value="hmac-sha1" {@if r.handle.credentials.algorithm == 'hmac-sha1' } selected {@/if}>HMAC-SHA1</option>
                <option value="hmac-sha256" {@if r.handle.credentials.algorithm == 'hmac-sha256' } selected {@/if} disabled>HMAC-SHA256（依赖openssl模块）</option>
                <option value="hmac-sha384" {@if r.handle.credentials.algorithm == 'hmac-sha384' } selected {@/if} disabled>HMAC-SHA384（依赖openssl模块）</option>
                <option value="hmac-sha512" {@if r.handle.credentials.algorithm == 'hmac-sha512' } selected {@/if} disabled>HMAC-SHA512（依赖openssl模块）</option>
            </select>
        </div>
    </div>
</div>

<!-- 超时 -->
<div id="timeout-area">
    <div class="form-group secret-holder">
        <label class="col-sm-1 control-label">超时</label>
        <div class="col-sm-11">
            <input type="text" class="form-control" name="rule-handle-timeout" id="rule-handle-timeout" placeholder="超时（秒）" value="${r.handle.credentials.timeout}">
        </div>
    </div>
</div>
