@charset"UTF-8";
 
/* Animations */
 .animated, .opts a.active .fa {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes bounceIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.5);
    }
    50% {
        opacity: 1;
        -webkit-transform: scale(1.5);
    }
    70% {
        -webkit-transform: scale(0.9);
    }
    100% {
        -webkit-transform: scale(1);
    }
}
@keyframes bounceIn {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    50% {
        opacity: 1;
        transform: scale(1.5);
    }
    70% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}
.bounceIn, .opts a.active .fa {
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
}
/* Bootstrap Theme */
 body {
    background: #fff;
    color: #222527;
    font-family:"RobotoDraft", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header{
    color: #697c8a;
}

.header .navbar {
    background-color: #18364c;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.04);
    border: 0px;
    color: #A1C3EE;
}
.header .navbar-brand {
    color: #fff !important;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
}
.header .navbar-brand b {
    color: #EC8147;
}
.header .navbar-default .navbar-brand, .header .navbar-default .navbar-nav > li > a {
    color: #fff;
    /*border-bottom: 3px solid #FFF;*/
    padding-bottom: 12px;
    font-weight: 700;
}

.header .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
    color: #999 !important;
}
.header .navbar-inverse .navbar-nav .open .dropdown-menu li.active a {
    border-bottom: 0px;
    /*color: #EB5424;*/
}
.header .navbar-inverse .navbar-toggle {
    color: #333;
    padding: 3px 9px;
    font-size: 18px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(255, 255, 255, 0.05);
}
.header .navbar-inverse .navbar-toggle:focus {
    background-color: rgba(255, 255, 255, 0.05);
}
.header .navbar-inverse .navbar-toggle:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
.header .navbar-inverse .navbar-collapse, .header .navbar-inverse .navbar-form {
    border-color: #A1C3EE;
}
.header nav.navbar-collapse.bs-navbar-collapse {
    border-color: rgba(255, 255, 255, 0.3);
}
.header .navbar-inverse .navbar-nav > .open > a, .header .navbar-inverse .navbar-nav > .open > a:focus, .header .navbar-inverse .navbar-nav > .open > a:hover {
    background: #EEF3F5;
    color: #333;
}



.header .navbar-nav {
    margin: 0px;
}
.header .navbar-nav a {
    color: #333;
}
.header .navbar-nav>li.active>a, .header .navbar-nav>li.active>a:focus, .header .navbar-nav>li.active>a:hover {
    border-bottom: 3px solid #FFFFFF;
    /*color: #fff;*/
    background: transparent;
    padding-bottom: 12px;
}



@media (max-width: 767px) {
    .header .navbar-header {
        text-align: center;
        padding: 2px 0;
    }
    .header .navbar-header .navbar-brand {
        font-size: 12px;
        float: none;
        margin: 0 auto;
        height: auto;
        padding: 0px 10px;
    }
    .header .navbar-nav {
        float: left;
        margin: 0px;
    }
    .header .navbar-nav > li {
        float: left;
    }
    .header .navbar-nav.navbar-right {
        float: right;
    }
    .header .user-bar .navbar-toggle {
        display: block;
        border-radius: 0px;
    }
}

.sidebar {
    padding-left: 5px;
}
.dropdown-menu {
    border-color: #FFF;
    border-radius: 2px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
}
a {
    color: #356DD0;
}


.label {
    font-weight: normal;
    border-radius: 2px;
    padding: 2px 4px;
}
.label-default {
    background: #EBEDEE;
    color: #9A9DA0;
}
.label-primary {
    background: #356DD0;
}
.label-warning {
    background: #FFF280;
    color: #CD8546;
}
.label-info {
    background: #ADD0FF;
    color: #4A5E9E;
}
.label-danger {
    background: #FF6969;
    color: #8B2523;
}
.label-success {
    background: #81D573;
    color: #1B8909;
}
.alert-success {
    background: #81D573;
    color: #1B8909;
}
.alert-info {
    background: #ADD0FF;
    color: #4A5E9E;
}
.alert-warning {
    background: #FFF280;
    color: #CD8546;
}
.alert-warning hr {
    border-color: #DAC264 !important;
}
.alert-danger {
    background: #FF6969;
    color: #8B2523;
}
.form-group label {
    font-weight: normal;
    color: rgba(0, 0, 0, 0.4);
    font-size: 13px;
    margin-bottom: 0px;
}
.control-label {
    font-weight: 500 !important;
}
.form-horizontal .control-label {
    padding-top: 16px;
}
.control-label.checkbox {
    text-align: left;
}
.form-control {
    border-radius: 0px;
    border-color: #D5DCE1;
    border: 0px;
    border-bottom: 1px solid #D5DCE1;
    box-shadow: inset 0 0px 0px #fff !important;
    padding: 6px 0px 6px 0;
    transition: none;
}
.form-control:focus {
    box-shadow: inset 0 0px 0px #fff;
    padding: 6px 0px 5px 0;
    border-bottom: 2px solid #317DDA;
}
.form-control[disabled], .form-control[readonly] {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    background: #f9f9f9;
}
textarea.form-control, #preview.form-control {
    border: 1px solid #D5DCE1;
}
textarea.form-control, #preview.form-control, textarea.form-control:focus {
    padding: 6px;
    border-bottom-width: 1px;
}

form #preview {
    min-height: 500px;
    overflow-y: scroll;
}
form .help-block {
    font-size: 12px;
    color: #aaa;
    margin-bottom: 0px;
}
form .form-actions {
    padding-left: 190px;
}

.input-group-addon {
    padding: 6px 0;
    background: #fff;
    color: #999;
    border-radius: 0px;
    border: 0px;
    border-bottom: 1px solid #D5DCE1;
}
.bootstrap-select .btn-default, .bootstrap-select .btn-default.active {
    border: 0px;
    background: #FFF;
    border-bottom: 1px solid #F3F3F3;
    transition: none;
    padding-bottom: 7px;
    border-radius: 0;
}
.popover {
    border-radius: 3px;
    border-color: #eee;
    box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.05);
}
.popover > .arrow {
    border-color: #EEF3F5;
}
.popover > .arrow:after {
    border-color: #EEF3F5;
}
.alert {
    padding: 5px 10px 3px;
    border: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    border-radius: 0px;
    font-size: 13px;
    transform: scale(1, 1);
    transition: all .3s;
}
.alert strong {
    color: #CD3A14;
}
.alert > ul {
    padding: 5px 18px;
    list-style-type: square;
}
.alert a.close {
    font-size: 14px;
    text-shadow: 0 0 0;
}

abbr[title] {
    border-bottom: 0px;
    cursor: text;
}
kbd {
    background-color: #f5f5f5;
    color: #999;
    border-radius: 2px;
    border-color: #fafafa;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.05);
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 4px 5px;
}
.panel {
    border: 0px;
    border-radius: 3px;
    border: 0px;
    box-shadow: 0 0px 1px rgba(0, 0, 0, 0.09);
}
.panel .panel-heading {
    background: #f5f5f5;
    border-bottom-color: #e9e9e9;
    color: #777;
}
.panel .panel-footer {
    background: #f5f5f5;
}
.nav-stacked {
    margin-bottom: 15px;
}
.nav-stacked.nav-pills > li > a {
    text-align: right;
    border-radius: 3px 0 0 3px;
    box-shadow: 0 0px 1px rgba(0, 0, 0, 0.09);
    padding: 5px 15px;
    margin-bottom: 0px;
    background: #fff;
    border-right: 2px solid #9CA4A9;
    color: #666;
}
.nav-stacked.nav-pills > li > a:hover {
    border-color: #317DDA;
    color: #317DDA;
    background-color: #fff;
}

.fa-spin {
    -webkit-animation: fa-spin 0.8s infinite linear;
    animation: fa-spin 0.8s infinite linear;
}

.pull-right.opts a {
    margin-left: 5px;
    margin-right: 0px;
}

@media (max-width: 480px) {
    .avatar-48 {
        width: 32px;
        height: 32px;
    }
}


.fa.awesome {
    font-size: 13px;
    color: #EB5424;
}

.deleted {
    text-decoration: line-through;
    color: #EEF3F5;
}

@media (max-width: 480px) {
    .hidden-mobile {
        display: none !important;
    }
    .pagination {
        display: block;
    }
    .pagination li {
        display: none;
    }
    .pagination li.prev, .pagination li.next {
        float: left;
        display: block;
    }
    .pagination li.prev a, .pagination li.next a {
        border-radius: 20px !important;
    }
    .pagination li.next {
        float: right;
    }
}

/* customized by orange start*/

.btn {
    box-shadow: 0 2px 3px rgba(0,0,0,.1);
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    color: #777;
    background-color: #D9EDF7;
}

#main{
    margin-bottom: 80px;
    margin-top: 40px;
}


.nav_dropdown  li a, .nav_dropdown  li.active a{
    padding-bottom:8px;
    padding-top:8px;
}

.nav_dropdown  .active ul li a {
    border-bottom: 0px solid #FFFFFF;
}

td, th {
    padding: 15px 5px;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    border-radius: 2px;
}

table {
    background-color:#fff;
    box-shadow: 0 2px 3px rgba(0,0,0,.1);
}

table thead{
    background: rgba(52, 73, 94, 0.94);
    color: #eee;
    border: 1px solid rgba(52, 73, 94, 0.94);
}

.table-bordered>thead>tr>th {
    /*border-bottom-width: 1px;*/
}

.table>thead>tr>th, .table-bordered>thead>tr>th{
    height:40px;
    /*line-height: 40px;*/
    text-align:center;
    border:none;
    border-radius: 0px;
   vertical-align: middle;
   min-width: 40px;
}


table.table-bordered tr td {
    vertical-align: middle;
    border-left: none;
    border-color: #DEDFE0;
    /*border-right: dashed 1px #DEDFE0;*/
    border-right:none;
    min-height: 36px;
    padding: 16px 8px;
}

td.center {
    text-align:center;
}

tr.highlight{
    background-color: #FFFDDD;
}

.namep{
    max-width: 200px;
    display: inline-block;
    overflow-wrap: break-word;
}
.conditionp{
    max-width: 500px;
    /*display: inline-block;*/
    overflow-wrap: break-word;
    margin-bottom: 3px;
}
.urltmplp{
    max-width: 250px;
    /*display: inline-block;*/
    overflow-wrap: break-word;
    margin-bottom: 3px;
}

#preview_plugin_config {
    max-height:300px;
}

#rules td.left {
    padding-left:10px
}

#rules .handle{
    vertical-align: middle;
}

#rules .do{
    vertical-align: middle;
}

#rules .edit-btn{
    color:#000
}

#rules .delete-btn{
    color:#EA8282
}

.form-group label{
    color:#555;
}


.input-group-btn .btn-danger{
    color: #151414;
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    outline:none;
    box-shadow: none;
}

.input-group-btn .btn-success{
    color: #151414;
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    outline:none;
    box-shadow: none;
}

.form-horizontal .control-label {
    padding-top: 8px;
}

.form-group label {
  color: #555;
  font-size: 14px;
}

#modJsonResult{
    margin: 0 17px 0 7px;
}

#time-set a.active{
    text-decoration: underline;
}


.footer {
    position: absolute;
    width: 100%;
    background-color: #f2f4f5;
    margin-top:40px;
}

.footer .footer-bar {
    font-size: 13px;
    line-height: 30px;
    border-top: 1px solid #e9ecee;
    padding: 10px 0;
    position: fixed;
    right: 0px;
    bottom: 0px;
    left: 0px;
    max-height: 51px;
    background-color: #efefef;
}

.footer .footer-bar span:first-of-type a {
    margin: 0;
}

.footer .footer-bar a {
    text-decoration: none;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    margin-left: 18px;
    color: #505659;
}

.footer .footer-bar a:hover {
    color: #262e33;
}

.footer .footer-bar a img {
    vertical-align: middle;
    margin-right: 6px;
}

.help-content {
    height: 400px;
    font-size: 16px;
    text-align: center;
}

.help-content p{
    padding-top:180px;
}

.plugin-item{
    text-align: center;
    margin-bottom: 20px;
}

.plugin-item .thumbnail {
    min-height: 200px;
}

.plugin-item .plugin-op{
    margin-top:40px
}

.badge{
    padding: 5px 14px 5px 14px;
}
.off-badge{
    background-color: #EB5424;
}
.on-badge{
    background-color: #4cae4c;
}

.extraction-default-hodler{
    padding-left:0px;padding-right:0px;
}

.form-group .control-label {
    text-align: left;
}

#node_tip {
    display: none;
}

.head_title{
    display:inline-block;
}
