.pagination2 {
	height: 60px;
	font-size: 12px;
	padding: 15px 0;
	_display: inline-block;
	text-align : center;
	color:#999999 !important;
	padding-top:1px solid #CCCCCC;
}

.pagination2 ul {
	display: inline-block;
	margin-bottom: 0;
	margin-left: 0;
	float:left;
	margin-right:10px;
}

.pagination2 div {
	height: 22px;
	line-height: 22px;float:left;display:block;margin-right:5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.pagination2 span.page-btn {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	height: 22px;
	line-height: 22px;float:left;display:block;margin-right:10px;
	width: 40px;background:#61a2d8;color:#FFFFFF;
	cursor:pointer;
}

#go_pg_num{
	border: 1px solid #E6E6E6;
	height: 22px;margin: 0 3px;
	width: 28px;text-align:center;color:#999999;
}

.pagination2 li {
	display: inline;
}

.pagination2 a {
	float: left;
	padding: 0 8px;
	line-height: 22px;
	text-decoration: none;
	border: 1px solid #ddd;
	border-left-width: 0;
	font-size: 100%;
	color:#999999;
}

.pagination2 .active a {
	color: #fff;
	background-color: #70B4E0;
}

.pagination2 a:hover{
	border-color: #70B4E0;
}

.pagination2 .active a {
	cursor: default;
}

.pagination2 .disabled span,.pagination2 .disabled a,.pagination2 .disabled a:hover
	{
	color: #999;
	cursor: default;
	background-color: transparent;
}

.pagination2 li a {
	border-width: 1px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	margin-left:5px;
}

a.page-ellipsis{
	  border: medium none;
    cursor: default;
    line-height: 24px;
    padding: 0 0 4px;
}

/* .pagination2 li:first-child a { */
/* 	border-left-width: 1px; */
/* 	border-radius: 3px 0 0 3px; */
/* 	-webkit-border-radius: 3px 0 0 3px; */
/* 	-moz-border-radius: 3px 0 0 3px; */
/* } */

/* .pagination2 li:last-child a { */
/* 	-webkit-border-radius: 0 3px 3px 0; */
/* 	-moz-border-radius: 0 3px 3px 0; */
/* 	border-radius: 0 3px 3px 0; */
/* } */