{
    "plugins": [
        "stat",
        "monitor",
        "dynamic_upstream",
        "redirect",
        "rewrite",
        "rate_limiting",
        "property_rate_limiting",
        "basic_auth",
        "key_auth",
        "signature_auth",
        "waf",
        "divide",
        "kvstore"
    ],
    "store": "mysql",
    "store_mysql": {
        "timeout": 5000,
        "connect_config": {
            "host": "127.0.0.1",
            "port": 3306,
            "database": "orange",
            "user": "root",
            "password": "",
            "max_packet_size": 1048576
        },
        "pool_config": {
            "max_idle_timeout": 10000,
            "pool_size": 3
        },
        "desc": "mysql configuration"
    },
    "dashboard": {
        "auth": false,
        "session_secret": "y0ji4pdj61aaf3f11c2e65cd2263d3e7e5",
        "whitelist": [
            "^/auth/login$",
            "^/error/$"
        ]
    },
    "api": {
        "auth_enable": true,
        "credentials": [
            {
                "username":"api_username",
                "password":"api_password"
            }
        ]
    }
}
