
<div id="secret-area">
    <div class="form-group secret-holder">
        <label class="col-sm-1 control-label">Secret</label>
        <div class="col-sm-11">
            <input type="text" class="form-control" name="rule-handle-secret" placeholder="secret key" value="${r.handle.credentials.secret}">
        </div>
    </div><!-- 描述 -->
</div>



<!-- jwt payload 转向声明 -->
<div id="payload-area">
    <div class="form-group">
        <label class="col-sm-1 control-label">申明转向</label>
        <div class="col-sm-11">
            <div class="col-sm-3" style="width: 120px; padding-left: 0px; line-height: 38px;">
                <span>添加转向申明</span>
            </div>
            <div class="col-sm-1" style="line-height: 36px;">
                <a id="add-payload-btn" class="btn btn-success" style="padding:0 5px;"><i class="fa fa-plus"></i></a>
            </div>
        </div>
    </div>


     {@each r.handle.credentials.payload as c, index}

        <div class="form-group pair payload-holder">
            <label class="col-sm-1 control-label"></label>
            <div class="col-sm-3" style="line-height: 38px;">
                <input type="text" class="form-control" name="rule-handle-payload-key" placeholder="payload key" value="${c.key}" >
            </div>

            <div class="col-sm-3" style="width: 120px;  padding-left:0">
               <select class="form-control" name="rule-handle-payload-type">
                    <option value="1" {@if c.type==1 } selected {@/if}>Header</option>
                    <!-- <option value="2" {@if c.type==2 } selected {@/if}>Query</option> -->
                    <!-- <option value="3" {@if c.type==3 } selected {@/if}>PostParam</option> -->
                </select>
            </div>

            <div class="col-sm-3" style="padding-left:0">
                <input type="text" class="form-control" name="rule-handle-payload-target-key" placeholder="target key" value="${c.target_key}">
            </div>
            <div class="col-sm-1" style="margin-top:5px">
                <span class="input-group-btn">
                    <a class="btn btn-remove" style="padding:0 5px;">
                        <i class="fa fa-remove"></i>
                    </a>
                    <a class="btn btn-add" style="padding:0 5px;">
                        <i class="fa fa-plus"></i>
                    </a>
                </span>
            </div>
        </div>

    {@/each}

</div>

