<div id="secret-area">
    <div class="form-group secret-holder">
        <label class="col-sm-1 control-label">Secret</label>
        <div class="col-sm-11">
            <input type="text" class="form-control" name="rule-handle-secret" placeholder="secret" value="">
        </div>
    </div>

</div>

<!-- jwt payload 转向声明 -->
<div id="payload-area">
    <div class="form-group">
        <label class="col-sm-1 control-label">申明转向</label>
        <div class="col-sm-11">
            <div class="col-sm-3" style="width: 120px; padding-left: 0px; line-height: 38px;">
                <span>添加转向申明</span>
            </div>
            <div class="col-sm-1" style="line-height: 36px;">
                <a id="add-payload-btn" class="btn btn-success" style="padding:0 5px;"><i class="fa fa-plus"></i></a>
            </div>
        </div>
    </div>
</div>

