<div id="credential-area">
    <div class="form-group">
        <label class="col-sm-1 control-label">验签信息</label>
        <div class="col-sm-11">
            <div class="col-sm-3" style="width: 120px; padding-left: 0px; line-height: 38px;">
                <span>Jwt Secret</span>
            </div>
        </div>
    </div><!-- 描述 -->

    <div class="form-group pair secret-holder">
        <label class="col-sm-1 control-label"></label>

        <div class="col-sm-6" style="line-height: 38px;">
            <input type="text" class="form-control" name="rule-handle-secret" placeholder="secret key" value="">
        </div>
    </div>
</div>

<!-- jwt payload 转向声明 -->
<div id="credential-payload-area">
    <div class="form-group">
        <label class="col-sm-1 control-label">申明转向</label>
        <div class="col-sm-11">
            <div class="col-sm-3" style="width: 120px; padding-left: 0px; line-height: 38px;">
                <span>添加转向申明</span>
            </div>
            <div class="col-sm-1" style="line-height: 36px;">
                <a id="add-credential-payload-btn" class="btn btn-success" style="padding:0 5px;"><i class="fa fa-plus"></i></a>
            </div>
        </div>
    </div>
</div>
<!-- credential -->

