<script type="text/template" id="single-extraction-tmpl">
    <div class="form-group pair extraction-holder">
        <label class="col-sm-1 control-label"></label>

        <div class="col-sm-2">
            <select class="form-control" name="rule-extractor-extraction-type">
                <option value="Query">Query</option>
                <option value="Header">Header</option>
                <option value="PostParams">PostParams</option>
                <option value="Host">Host</option>
                <option value="URI">URI</option>
                <option value="IP">IP</option>
                <option value="Method">Method</option>
            </select>
        </div>
        <div class="col-sm-2 extraction-name-hodler" style="padding:0;">
            <input type="text" class="form-control" name="rule-extractor-extraction-name" placeholder="name">
        </div>
        <div class="col-sm-5 extraction-default-hodler">
            <div class="col-sm-6" style="padding:0;">
                <select class="form-control" name="rule-extractor-extraction-has-default">
                    <option value="0" selected="">无默认值</option>
                    <option value="1">有默认值</option>
                </select>
            </div>
            <div class="col-sm-6" style="display:none;" name="rule-extractor-extraction-default">
                <input type="text" class="form-control" placeholder="default value">
            </div>
        </div>
        <div class="col-sm-1" style="margin-top:5px;float:right;margin-right: 50px;">
            <span class="input-group-btn">
                <a class="btn btn-remove" style="padding:0 5px;">
                    <i class="fa fa-remove"></i>
                </a>
                <a class="btn btn-add" style="padding:0 5px;">
                    <i class="fa fa-plus"></i>
                </a>
            </span>
        </div>
    </div>
</script>
