<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="renderer" content="webkit">

<title>Orange - API Gateway based on OpenResty</title>

<meta name="keywords" content="">
<meta name="description" content="">

<link rel="shortcut icon" href="/static/img/favicon.ico">
<link href="/static/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/css/font-awesome.min.css" rel="stylesheet">
<link href="/static/css/dialog.min.css" rel="stylesheet">
<link href="/static/css/toastr.css" rel="stylesheet">
<link href="/static/css/highlight-8.4-github.min.css" rel="stylesheet">
<link href="/static/css/fe-jsonformat-content.css" rel="stylesheet">
<link href="/static/css/style.css" rel="stylesheet">
<link href="/static/css/app.css" rel="stylesheet">
