<a id="view-btn" style="display:none;" data-type="table" class="btn btn-default" rel="nofollow" href="javascript:void(0);">
    <i class="fa fa-database"></i>
    <span>数据视图</span>
</a>
<a id="switch-btn" style="display:none;" data-on="yes" class="btn btn-danger" rel="nofollow" href="javascript:void(0);">
    <i class="fa fa-pause"></i>
    <span>停用该插件</span>
</a>

<a class="btn btn-default" href="javascript:void(0);" id="add-selector-btn">
    <i class="fa fa-sitemap"></i>
    <span>添加选择器</span>
</a>


<a class="btn btn-default" href="javascript:void(0);" id="sync-btn">
    <i class="fa fa-refresh"></i>
    <span>同步配置</span>
</a>
