<div id="credential-area">
    <div class="form-group">
        <label class="col-sm-1 control-label">账户</label>
        <div class="col-sm-11">
            <div class="col-sm-3" style="width: 120px; padding-left: 0px; line-height: 38px;">
                <span>添加credential</span>
            </div>
            <div class="col-sm-1" style="line-height: 36px;">
                <a id="add-credential-btn" class="btn btn-success" style="padding:0 5px;"><i class="fa fa-plus"></i></a>
            </div>
        </div>
    </div><!-- 描述 -->
</div>
<!-- credential -->
