<!DOCTYPE html>
<html>
<head>
    {(common/meta.html)}
</head>

<body class="fixed-sidebar full-height-layout gray-bg">
    <div id="wrapper">
        {(common/left_nav.html)}<!-- 左侧导航 -->

        <!--右侧部分开始-->
        <div id="page-wrapper" class="gray-bg dashbard-1">
            <div class="row J_mainContent">

                <!-- content start -->
                <div class="row content-header">
                    <div class="col-md-12">
                        <div class="pull-left">
                            <h4 class="head_title">HTTP Key Auth</h4>
                        </div>
                        <div class="pull-right">
                             {(common/plugin-op.html)}
                        </div>
                    </div>
                </div>

                {(common/data-view-part.html)}
                {(common/right-selector-rule-part.html)}
            <!-- content end -->
            </div>
        </div><!--右侧部分结束-->
    </div>

    <script id="rule-item-tpl" type="text/template">
        {@each rules as r, index}
        <li data-id="${r.id}" {@if r.enable==true } class="info-element"{@/if}
            {@if r.enable!=true } class="warning-element"{@/if}>
            <table class="table table-hover single-rule-table">
                <tbody>
                    <tr>
                        <td class="center rule-enable-td">
                            {@if r.enable==true }
                                <span class="label label-primary">已启用</span>
                            {@/if}
                            {@if r.enable!=true }
                                <span class="label label-warning">已禁用</span>
                            {@/if}
                        </td>
                        <td class="rule-name-td">
                            <b class="namep">${r.name}</b>
                        </td>
                        <td class="left rule-condition-td">
                            <p>
                                <b>类型</b>:
                                {@if r.judge.type==0 }
                                    单一条件匹配
                                {@/if}
                                {@if r.judge.type==1 }
                                    and匹配
                                {@/if}
                                {@if r.judge.type==2 }
                                    or匹配
                                {@/if}
                                {@if r.judge.type==3 }
                                    复杂匹配
                                {@/if}

                                {@if r.judge.type==3 }
                                    <br/><b>表达式</b>: ${r.judge.expression}
                                {@/if}
                            </p>
                            {@each r.judge.conditions as c, index}
                                <p class="conditionp">${c.type}: ${c.name} ${c.operator} ${c.value}</p>
                            {@/each}
                        </td>

                        <td class="left rule-credential-td">
                            {@if r.handle.credentials }
                                <b>Credentials：</b>
                                {@each r.handle.credentials as cdt, cdtindex}
                                    <span>
                                        {@if cdt.type==1 }
                                            Header[${cdt.key}]=${cdt.target_value}
                                        {@/if}
                                        {@if cdt.type==2 }
                                            Query[${cdt.key}]=${cdt.target_value}
                                        {@/if}
                                        {@if cdt.type==3 }
                                            PostParams[${cdt.key}]=${cdt.target_value}
                                        {@/if}
                                    </span>
                                    <br/>
                                {@/each}
                            {@/if}
                        </td>

                        <td class="left rule-urltmpl-td">
                            <b>错误代码</b>: ${r.handle.code}
                            <br/>
                            <b>记录日志</b>: ${r.handle.log}
                        </td>

                        <td class="left" title="变更时间">
                            <small>${r.time}</small>
                        </td>
                        <td class="center rule-op-td">
                            <a class="btn btn-white btn-sm edit-btn" data-id="${r.id}" data-name="${r.name}"><i title="编辑" class="fa fa-pencil"></i> </a>
                            <a class="btn btn-white btn-sm delete-btn" data-id="${r.id}" data-name="${r.name}"><i title="删除" class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </li>
        {@/each}
    </script>

    <script id="add-tpl" type="application/template">
        <div id="rule-edit-area">
            <form id="add-rule-form" class="form-horizontal">
                <div class="form-group">
                    <label for="input-name" class="col-sm-1 control-label">名称</label>
                    <div class="col-sm-11">
                        <input type="text" class="form-control" id="rule-name" placeholder="名称">
                    </div>
                </div><!-- name -->

                <!-- add - 条件编辑器模板 start -->
                {(common/condition-add.html)}
                <!-- add - 条件编辑器模板 end -->

                <!-- add - credentials编辑器模板 start -->
                {(key_auth/credential-add.html)}
                <!-- add - credentials编辑器模板 end -->

                <div class="form-group handle-holder">
                    <label class="col-sm-1 control-label">处理</label>
                    <div class="col-sm-4 handle-code-hodler">
                        <input type="text" class="form-control" id="rule-handle-code" value="401" placeholder="authorization fail status code">
                    </div>

                    <div class="col-sm-2" style="padding-left:0px;">
                        <select class="form-control" id="rule-handle-log">
                            <option value="true">记录日志</option>
                            <option value="false">不记录日志</option>
                        </select>
                    </div>
                </div><!-- handle-->

                <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-11">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="rule-enable"> 启用
                            </label>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </script>

    <script id="edit-tpl" type="application/template">
        <div id="rule-edit-area">
            <form id="edit-rule-form" class="form-horizontal">
                <div class="form-group">
                    <label for="input-name" class="col-sm-1 control-label">名称</label>
                    <div class="col-sm-11">
                        <input type="text" class="form-control" id="rule-name" value="${r.name}" placeholder="名称">
                    </div>
                </div><!-- name -->

                <!-- edit - 条件编辑器模板 start -->
                {(common/condition-edit.html)}
                <!-- edit - 条件编辑器模板 end -->

                <!-- edit - credentials编辑器模板 start -->
                {(key_auth/credential-edit.html)}
                <!-- edit - credentials编辑器模板 end -->


                <div class="form-group handle-holder">
                    <label class="col-sm-1 control-label">处理</label>

                    <div class="col-sm-4 handle-code-hodler">
                        <input type="text" class="form-control" id="rule-handle-code" placeholder="authorization fail status code" value="${r.handle.code}">
                    </div>

                    <div class="col-sm-2" style="padding-left:0px;">
                        <select class="form-control" id="rule-handle-log">
                            <option value="true" {@if r.handle.log==true} selected {@/if}>记录日志</option>
                            <option value="false" {@if r.handle.log==false} selected {@/if}>不记录日志</option>
                        </select>
                    </div>
                </div><!-- handle -->

                <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-11">
                        <div class="checkbox">
                            <label>
                                <input {@if r.enable==true} checked {@/if} type="checkbox" id="rule-enable"> 启用
                            </label>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </script>

    {(key_auth/credential-tmpl.html)}

    {(common/selector-item-tpl.html)}
    {(common/selector-add.html)}
    {(common/selector-edit.html)}

    {(common/common_js.html)}<!-- 通用js -->
    <script src="/static/js/key_auth.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            APP.Common.resetNav("nav-key-auth");
            APP.KeyAuth.init();
            $(".sortable-list").sortable().disableSelection();
        });
    </script>
</body>
</html>
