<!DOCTYPE html>
<html>
<head>
    <title>Orange Gateway - 错误</title>
    {(meta.html)}
</head>
<body>

{(header.html)}

<div id="main" class="main-container container">
    <div class="row" style="margin-top:30px;">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">错误</div>
                <div class="panel-body">
                   <div class="panel-body">
                        {{errMsg}}
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>


{(footer.html)}
</body>
</html>
