<div class="header">
    <nav class="navbar navbar-inverse navbar-static-top navbar-default">
        <div class="container">
            <div class="navbar-header" id="navbar-header">
                <a href="/" class="navbar-brand"><b>Orange</b> Gateway</a>
            </div>

            <span>
              <ul class="nav navbar-nav" id="main-nav-menu">
                  <li id="nav-index"><a href="/">概况</a></li>
                  <li id="nav-status" class="nav_dropdown dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">监控&nbsp;<span class="caret"></span></a>
                      <ul class="dropdown-menu">
                          <li id="nav-stat"><a href="/status">全局统计</a></li>
                          <li id="nav-monitor"><a href="/monitor">自定义监控</a></li>
                      </ul>
                  </li>
                  <li id="url-manage" class="nav_dropdown dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">URL管理&nbsp;<span class="caret"></span></a>
                      <ul class="dropdown-menu">
                          <li id="nav-redirect"><a href="/redirect">URL重定向</a></li>
                          <li id="nav-rewrite"><a href="/rewrite">URI重写</a></li>
                      </ul>
                  </li>

                  <li id="nav-auth" class="nav_dropdown dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Auth&nbsp;<span class="caret"></span></a>
                      <ul class="dropdown-menu">
                          <li id="nav-basic-auth"><a href="/basic_auth">Basic Auth</a></li>
                          <li id="nav-key-auth"><a href="/key_auth">Key Auth</a></li>
                      </ul>
                  </li>

                  <li id="nav-waf"><a href="/waf">WAF</a></li>
                  <li id="nav-divide"><a href="/divide">分流</a></li>
              </ul>
            </span>
           

            <ul class="nav user-bar navbar-nav navbar-right">
                {%
                    if locals and locals.login and locals.login == true then
                %}
                <li id="user-op" class="nav_dropdown dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ locals.username }} 
                    <span class="caret"></span>
                    </a>
 
                    <button class="navbar-toggle" type="button" data-toggle="dropdown" role="button" aria-expanded="false"> 
                        <span class="sr-only">Toggle</span>
                        <i class="fa fa-reorder"></i>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li class=""><a href="/admin/user/manage">用户管理</a></li>
                        <li class=""><a rel="nofollow" href="/auth/logout">退出</a></li>
                    </ul>
                </li>
                {% end %}
            </ul>


        </div>
    </nav>
</div><!-- header end -->
