<!DOCTYPE html>
<html>
<head>
    <title>Orange Gateway - Help</title>
      {(meta.html)}
</head>
<body>

{(header.html)}

<div class="main-container container">

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-body help-content">
            
                <p>You can find more details about <b>Orange</b> on the project website: <a href="http://orange.sumory.com">Orange Documents & News</a></p>
                
            </div>
        </div>
    </div>

    
</div>



{(footer.html)}
</body>
</html>
