<meta charset='utf-8' />
<meta name="apple-mobile-web-app-capable" content="no">
<meta content='True' name='HandheldFriendly' />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

<link rel="stylesheet" media="screen" href="/orange/static/css/bootstrap.min.css"/>
<link rel="stylesheet" media="screen" href="/orange/static/css/font-awesome.min.css"/>
<link rel="stylesheet" media="screen" href="/orange/static/css/dialog.min.css"/>

<link rel="stylesheet" media="screen" href="/orange/static/css/application.css"/>
<link rel="stylesheet" media="screen" href="/orange/static/css/pagebar.css"/>
<link rel="stylesheet" media="screen" href="/orange/static/css/highlight-8.4-github.min.css"/>
<link rel="stylesheet" href="/orange/static/css/fe-jsonformat-content.css">

<style>
    td, th {
        padding: 15px 5px;
        display: table-cell;
        text-align: left;
        vertical-align: middle;
        border-radius: 2px;
    }

    table {
        background-color:#fff;
    }

    .table-bordered>thead>tr>th {
        border-bottom-width: 1px;
    }

    .table>thead>tr>th{
        height:60px;
        line-height: 60px;
        text-align:center;
    }

    table.table-bordered tr td {
        vertical-align: middle;
        border-left: none;
        border-color: #DEDFE0;
        border-right: dashed 1px #DEDFE0;
        min-height: 36px;
        padding: 16px 8px;
    }

    td.center {
        text-align:center;
    }

    tr.highlight{
        background-color: #FFFDDD;
    }

    #rules td.left {
        padding-left:10px
    }

    #rules .action{
        vertical-align: middle;
    }

    #rules .do{
        vertical-align: middle;
    }

    #rules .edit-btn{
        color:#000
    }

    #rules .delete-btn{
        color:#EA8282
    }

    .form-group label{
        color:#555;
    }


    .input-group-btn .btn-danger{
        color: #151414;
        background-color: #FFFFFF;
        border-color: #FFFFFF;
        outline:none;
    }

    .input-group-btn .btn-success{
        color: #151414;
        background-color: #FFFFFF;
        border-color: #FFFFFF;
        outline:none;
    }

    .form-horizontal .control-label {
        padding-top: 8px;
    }
    .form-group label {
      color: #555;
      font-size: 14px;
    }

    table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
        bottom: 4px;
    }

    #modJsonResult{
        margin: 0 17px 0 7px;
    }



    .footer {
        position: absolute;
        width: 100%;
        background-color: #f2f4f5;
        margin-top:40px;
    }

    .footer .footer-bar {
        font-size: 13px;
        line-height: 30px;
        border-top: 1px solid #e9ecee;
        padding: 10px 0;
        max-height: 51px;
    }

    .footer .footer-bar span:first-of-type a {
        margin: 0;
    }

    .footer .footer-bar a {
        text-decoration: none;
        -webkit-transition: all .3s ease;
        transition: all .3s ease;
        margin-left: 18px;
        color: #505659;
    }

    .footer .footer-bar a:hover {
        color: #262e33;
    }

    .footer .footer-bar a img {
        vertical-align: middle;
        margin-right: 6px;
    }

</style>

<script src="/orange/static/js/jquery-2.2.1.min.js"></script>
<script src="/orange/static/js/bootstrap-3.3.2.min.js"></script>
<script src="/orange/static/js/juicer.js"></script>
<script src="/orange/static/js/dialog-min.js"></script>

<script src="/orange/static/js/MD5.min.js"></script>
<script src="/orange/static/js/jquery.pagebar.js"></script>
<script src="/orange/static/js/echarts/echarts-all.js"></script>

<script src="/orange/static/js/highlight-8.4.min.js"></script>
<script src="/orange/static/js/FileSaver.min.js"></script>
<script src="/orange/static/js/json-format-dealer.js"></script>
<script src="/orange/static/js/json-format-ent.js"></script>
<script src="/orange/static/js/json-format.js"></script>


<script type="text/javascript">
    var APP = {};
</script>
<script src="/orange/static/js/app.js"></script>

