<meta charset='utf-8' />
<meta name="apple-mobile-web-app-capable" content="no">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

<link rel="stylesheet" media="screen" href="/orange/static/css/bootstrap.min.css"/>
<link rel="stylesheet" media="screen" href="/orange/static/css/font-awesome.min.css"/>
<link rel="stylesheet" media="screen" href="/orange/static/css/dialog.min.css"/>
<link rel="stylesheet" media="screen" href="/orange/static/css/pagebar.css"/>
<link rel="stylesheet" media="screen" href="/orange/static/css/highlight-8.4-github.min.css"/>
<link rel="stylesheet" href="/orange/static/css/fe-jsonformat-content.css">
<link rel="stylesheet" media="screen" href="/orange/static/css/application.css"/>

<script src="/orange/static/js/libs/jquery-2.2.1.min.js"></script>
<script src="/orange/static/js/libs/bootstrap-3.3.2.min.js"></script>
<script src="/orange/static/js/libs/juicer-min.js"></script>
<script src="/orange/static/js/libs/dialog-min.js"></script>

<script src="/orange/static/js/libs/MD5.min.js"></script>
<script src="/orange/static/js/libs/jquery.pagebar.js"></script>
<script src="/orange/static/js/echarts3/echarts.common.min.js"></script>

<script src="/orange/static/js/libs/highlight-8.4.min.js"></script>
<script src="/orange/static/js/libs/FileSaver.min.js"></script>
<script src="/orange/static/js/libs/json-format-dealer.js"></script>
<script src="/orange/static/js/libs/json-format-ent.js"></script>
<script src="/orange/static/js/libs/json-format.js"></script>


<script type="text/javascript">
    var APP = {};
</script>
<script src="/orange/static/js/app.js"></script>

