<!DOCTYPE html>
<html>
<head>
    <title>Orange Gateway - status</title>
    {(meta.html)}
</head>
<body>

{(header.html)}
<script src="//cdn.bootcss.com/Chart.js/1.0.2/Chart.js"></script>

<div class="container-fluid" style="margin:0 20px 20px 20px;">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-body">
                <div class="filter pull-right" id="time-set" style="margin:15px;">
                    <span class="l">时间间隔:</span>
                    <a href="javascript:void(0);" class="active timer_interval" data-interval="1000">1s</a> / 
                    <a href="javascript:void(0);" class="timer_interval" data-interval="3000">3s</a> / 
                    <a href="javascript:void(0);" class="timer_interval" data-interval="5000">5s</a>
                </div>
            </div>
        </div>
    </div>



    <div class="row">
        <div>
        <span class="chart-title">Requests</span> <span class="chart-title-extra"> per second</span>
        <div class="col-sm-6">
            <span class="status_color_mark" style="background-color:rgba(220,220,220,1)"></span>
            <span class="status_color_desc">All request</span>
        </div>
        <div class="col-sm-6">
            <span class="status_color_mark" style="background-color:rgba(151,187,205,1)"></span>
            <span class="status_color_desc">Success request</span>
        </div>
        
        </div>
        <canvas id="request-area"  width="1400" height="400"></canvas>
    </div>


    <div class="row">
            <div class="col-md-4">
                <canvas id="qps-area"  width="700" height="400"></canvas>
            </div>
            <div class="col-md-4">
                <canvas id="response-area"  width="700" height="400"></canvas>
            </div>
            <div class="col-md-4">
                <canvas id="traffic-area"  width="700" height="400"></canvas>
            </div>
    </div>

     <div class="row">
            <div class="col-md-3">
                <canvas id="2xx-area"  width="600" height="320"></canvas>
            </div>
            <div class="col-md-3">
                <canvas id="3xx-area"  width="600" height="320"></canvas>
            </div>
            <div class="col-md-3">
                <canvas id="4xx-area"  width="600" height="320"></canvas>
            </div>
            <div class="col-md-3">
                <canvas id="5xx-area"  width="600" height="320"></canvas>
            </div>
    </div>
    
</div>


<script src="/orange/static/js/stat.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        APP.Common.resetNav("nav-index");
        APP.Status.init();
    });
</script>
</body>
</html>
